.FacebookButton,
.GoogleButton {
	color: #fff !important;
	border: 1.5px solid #fff !important;
	font-size: 7.5pt !important;
	padding: 3px 5px 3px 5px !important;
	cursor: pointer;
}

.FacebookButton {
	background: #2185d0;
}

.GoogleButton {
	background: #db2828;
}

.logout {
	font-size: 7.5pt;
}